<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <title>homepage</title>
        <heading>TE-CARE HOME</heading>
    </head>
    <body>
        <header>
            <!-- navbar (styled by simple.css) -->
            <nav>
                <a href="/">Home</a>
                <a href="about">About</a>
                <a href="impact">Impact</a>
                <a href="calendar">Calendar</a>
            </nav>
            <h1>Welcome to My Website</h1>
            <p>Built cleanly with standard HTML elements.</p>
        </header>
    </body>
</html>