<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
        <title>homepage</title>
        <heading>TE-CARE HOME</heading>
    </head>
    <body>
        <header>
            <!-- navbar (styled by simple.css) -->
            <nav>
                <a href="/">Home</a>
                <a href="about">About</a>
                <a href="impact">Impact</a>
                <a href="calendar">Calendar</a>
            </nav>
            <h1>TE CARE</h1>
            <p>Helping out our community</p>
        </header>
    </body>
</html>